<div class="header">
  <h1>Weather Search</h1>
</div>

<div class="container pt-5">
  <div class="form-group">
    <label for="searchInput">Search a city</label>
    <input type="text" list="optionsList" id="searchInput" class="form-control" placeholder="Enter city name" />
    <datalist id="optionsList">
      <option value="Bratislava">
      <option value="Brno">
      <option value="New York">
    </datalist>
  </div>
</div>

<div class="container pt-3">
  <p>City:</p>
  <p>Country:</p>
  <p>Temperature:</p>
  <p>Humidity:</p>
  <p>Wind speed:</p>
</div>

